# Using Schema To Extract a DataFrame of Champions League Finals

This is a relatively simple example and doesn't actually require an LLM. However it was one of the first tests we made schema pass before adding more functionality.

## 1. Imports

In [2]:
import sys
import os

# Add the project root directory to sys.path
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.insert(0, project_root)

In [3]:
from schema.extract import extract
from pydantic import BaseModel, Field
from openai import OpenAI
from dotenv import load_dotenv

load_dotenv()

api_key = os.getenv('OPEN_AI_KEY')

# 2. Define extraction parameters

In [4]:
url = 'https://www.topendsports.com/sport/soccer/list-league-uefa.htm'
model = OpenAI(api_key=api_key)
class ChampionsLeagueFinal(BaseModel):
        year:int = Field(description='The year the final was played')
        winner:str
        runner_up:str 
        score:str = Field(description='The final score after extra time not including penalties', pattern=r'\d+-\d+')

## 3. Run Extract

In [5]:
champions_league_winners_df = extract(model, ChampionsLeagueFinal, url)

In [6]:
champions_league_winners_df

    year               winner            runner_up score
0   2025  Paris Saint-Germain          Inter Milan   5-0
1   2024          Real Madrid    Borussia Dortmund   2-0
2   2023      Manchester City          Inter Milan   1-0
3   2022          Real Madrid            Liverpool   1-0
4   2021              Chelsea      Manchester City   1-0
..   ...                  ...                  ...   ...
66  1960          Real Madrid  Eintracht Frankfurt   7-3
67  1959          Real Madrid       Stade de Reims   2-0
68  1958          Real Madrid                Milan   3-2
69  1957          Real Madrid           Fiorentina   2-0
70  1956          Real Madrid       Stade de Reims   4-3

[71 rows x 4 columns]

## 4. Use Extracted Data For Analysis

In [8]:
champions_league_winners_df.value_counts('winner').sort_values(ascending=False)

winner
Real Madrid            15
Bayern Munich           7
Milan                   7
Liverpool               6
Barcelona               5
Ajax                    4
Inter Milan             3
Manchester United       3
Benfica                 2
Porto                   2
Nottingham Forest       2
Chelsea                 2
Juventus                2
Celtic                  1
Aston Villa             1
Borussia Dortmund       1
Marseille               1
Manchester City         1
Hamburg                 1
Feyenoord               1
Paris Saint-Germain     1
PSV                     1
Red Star Belgrade       1
Steaua București        1
Name: count, dtype: int64

## 5. Save Data

In [9]:
champions_league_winners_df.to_csv('champions_league_final.csv')